@import 'nib'

color-main = black
color-highlight = #002d8e
color-highlight2 = #ff2d8e

body
	background #f3f3f3
	font-family Avenir, Helvetica, sans-serif
	margin 0

a
	color color-highlight
	&:hover
		color color-highlight2

h1, h2, h3, h4, h5, h6
	text-align center

nav
	font-size 2rem
	ul
		list-style none
		padding 0
		text-align center
	li
		display inline
		&::after
			content " • "
			position relative
			top .1rem
		&:last-child::after
			content ""

	a
		text-decoration none

.ttt-logo
.ttt-wrap
	display block
	margin 0 auto

p
	margin 0

blockquote
	font-style italic
	opacity .8
	border-left .5rem solid

article
	overflow hidden
	font-size 1.1rem
	line-height 1.5rem
	padding .1rem
	border-bottom .5rem solid

	&.ttt-dark-bg
		color #eee
		blockquote
			border-color #eee
		.ttt-thing-i
			color #fff

	&.ttt-light-bg
		color #111
		blockquote
			border-color #111
		.ttt-thing-i
			color #000

	header
		text-align center

	h3
		font-size 3rem
		line-height 3rem
		margin 3rem 0 0

	.ttt-wrap
		max-width 720px
		margin-bottom 3rem
		margin-top 2rem

	p, blockquote
		margin 1rem auto

	blockquote
		padding-left 1rem

	img
		display block
		padding 1rem
		max-width 100%

	.ttt-thing-i-wrap
		width 100%
		height 0

	.ttt-thing-i
		font-size 20rem
		line-height 15rem
		opacity .1
		font-weight 900
		margin-left -1rem

	.ttt-thing-meta
		opacity 0
		transition opacity .5s

	&:hover
		.ttt-thing-meta
			opacity .5
